<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Elastic workflow</title>
        <!-- Le styles -->
        <link href="@routes.Assets.at("javascripts/css/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("javascripts/css/styles.css")" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="@routes.Assets.at("javascripts/css/bootstrap-responsive.css")" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="./">Elastic Workflow</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" onclick="uusiActivity();return false;">Activity</a></li>
                                    <li><a href="#" onclick="uusiStart();return false;">Start</a></li>
                                    <li><a href="#" onclick="uusiEnd();return false;">End</a></li>
                                    <li><a href="#" onclick="newGateway();return false;">Gateway</a></li>
                                </ul>
                            </li>                            
                            <li><a href="#a" onclick="post_to_url('/models');return false;">New Model</a></li>
                            <li><a href="#a" onclick="post_to_url('/models/1/processes');return false;">New Swimlane</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>

    </div>
        

       <section id="main">
             <div id="mainArea" class="drawArea" ></div>
             <section id="editElements" class="EditArea hidden"></section> 
        </section>  


			
			<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
            <script src="@routes.Assets.at("javascripts/underscore.js")"></script>
            <script src="@routes.Assets.at("javascripts/backbone.js")"></script>
            <script src="@routes.Assets.at("javascripts/raphael.js")"></script>
            <script src="@routes.Assets.at("javascripts/mustache.js")"></script>
            <script src="@routes.Assets.at("javascripts/app.js")"></script>
            <script src="@routes.Assets.at("javascripts/backboneViews.js")"></script>
          
            <script src="@routes.Assets.at("javascripts/backbonemodels.js")"></script>
            <script src="@routes.Assets.at("javascripts/raphaelDrawFunctions.js")"></script>
            <script src="@routes.Assets.at("javascripts/router.js")"></script>
          
                
            

            <!-- Le javascript
            ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            <script src="@routes.Assets.at("javascripts/js/jquery.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-transition.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-alert.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-modal.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-dropdown.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-scrollspy.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-tab.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-tooltip.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-popover.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-button.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-collapse.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-carousel.js")"></script>
            <script src="@routes.Assets.at("javascripts/js/bootstrap-typeahead.js")"></script>

    </body>


    
    <script id="edit-Template" type="text/html">
        <input class="input-medium" id="editValue" type="text" value="{{value}}"></input>
        <input class="btn btn-primary" id="newRelationButton" value="Uusi relaatio" type="button"  />
        <!-- <input class="btn btn-primary" id="deleteElementButton" value="Delete" type="button"  /> -->
        <!-- other values can be added here also! -->
    </script>
    
</html>

