<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Raphael</title>
       	<link media="screen" href="ElastFlo.css" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/raphael.js")"></script>
	<script src="raphael.js"></script>
        <script src="jquery-1.7.1.min.js"></script>

	
    </head>
    <body>   
    </body>

	<script> 
		var RaphaelElement;
		var jsonlista = {type:"circle", cx: 50, cy:100, r: 25, fill:"#585858 "};
	    RaphaelElement = Raphael(100, 100, 500, 500);
	    var box1 = RaphaelElement.rect(10,10,400,200,1);

	    RaphaelElement.add([jsonlista]);
	    readJSON2();
      
		function readJSON(){
			$.getJSON('ajax/show', function(data){jsonlista = data;});
		}

	    function InitProcess(){
	    	//Functio lukee läpi "process" nimisen listan ja luo uuden prosessin  
	    	var startPoint = RaphaelElement.circle(50, 100, 25);
	    	startPoint.attr("fill", "#585858 ");
	    	startPoint.attr("stroke", "#080808 ");	    		    	
	    }

	    function createElement(){
	    // funktio iteroi läpi "Elements" nimisen listan ja luo uudet elementit jokaisesta.
	    	var anim = Raphael.animation({cx: 10, cy: 20}, 2e3);
	    	circle1.animate(anim.delay(5000));
	    	var anim =  RaphaelElement.circle(320, 240, 60).animation({fill: "#223fa3", stroke: "#000", "stroke-width": 80, "stroke-opacity": 0.5}, 800);
	    }	    
        </script>
</html>


