@(model: Model, processes: List[(Process, Seq[ProcessElement])], relations: List[(Relation , RelationType)])

@main("Showing one model") {
  
  <h2>Model information: </h2>
  <dl class="model">
	  <dt>Model: @model.id</dt>
	  <dd>Name: @model.name</dd>
	  <dd>Created: @model.dateCreated</dd>
  </dl>
	
     <b>Processes:</b>
	<dl class="processes">
	@for(process <- processes) {
	  <dt>Process: @process._1.id</dt>
	  <dd>Name: @process._1.name</dd>
	  <dd>Created: @process._1.dateCreated</dd>
	  
	  <br>
	  <dd>Contains elements:</dd>
	  @process._2.map { element =>
      	<dd><t>@element.value: @element.relationId</dd>
	  }

	  <br>
	}
	</dl>

      <b>Relations:</b> //Relation id refers to the id of the element (i.e. which element relation belongs to).
	  <dl class="relations">
      @for(relation <- relations) {
        <dt>RelationId: @relation._1.relationId</dt>
        <dd>Description: @relation._1.value</dd>
        <dd>Start Point: @relation._1.startPointId</dd>
        <dd>End Point:   @relation._1.endPointId</dd>
        <dd>Type:		 @relation._2.relationType</dd>
        <br>
      }
	  <br>
}