@(model: Model, processes: List[(Process, Seq[ProcessElement])], relations: List[Relation])

@main("Showing one model") {
  
  <h2>Model information: </h2>
  <dl class="model">
	  <dt>Model: @model.id</dt>
	  <dd>Name: @model.name</dd>
	  <dd>Created: @model.dateCreated</dd>
  </dl>
	
     <b>Processes:</b>
	<dl class="processes">
	@for(process <- processes) {
	  <dt>Process: @process._1.id</dt>
	  <dd>Name: @process._1.name</dd>
	  <dd>Created: @process._1.dateCreated</dd>
	  
	  <br>
	  <dd>Contains elements:</dd>
	  @process._2.map { element =>
      	<dd><t>@element.value: @element.relationId</dd>
	  }

	  <br>
	}
	</dl>

      <b>Relations:</b>
	  <dl class="relations">
      @for(relation <- relations) {
        <dt>Relation id: @relation.id</dt>
        <dd>Between elements: @relation.startId -> @relation.endId</dd>
        <dd>Description: @relation.value</dd>
        <br>
      }
	  <br>
}