<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Raphael</title>
       	<link media="screen" href="ElastFlo.css" rel="stylesheet">
        <script src="@routes.Assets.at("javascripts/raphael.js")"></script>
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
		<script src="raphael.js"></script>
        <script src="jquery-1.7.1.min.js"></script>

	
    </head>
    <body>   
    </body>


<script> 
	    
	  var RaphaelElement;
	  var jsonlista = {type:"circle", cx: 50, cy:100, r: 25, fill:"#585858 "};
	      RaphaelElement = Raphael(100, 100, 500, 500);
	  
	      RaphaelElement.add([jsonlista]);
	   
	      
	
</script>

</html>
